h1,h2,h3,h4,.tab {
	background:#fff url('../img/bar.gif') repeat; 
} 


hr {
  border:1px; height:1px; line-height:1px; color:black;
}

pre { 
background-color:#CDCDCD;
margin-top:0px
}

small.js {
font-size:9px;
margin-bottom:2px;
}

body {
	font-family:Arial,Courier New;
	font-size:medium;
}

a { 
	text-decoration:none; 
	color:darkblue; 
	font-size:small; 
}

