
#include "include/resource.h"

//#########################################
//#TLB
//#########################################


//ICONS

IDI_SCINTILLA                          ICON    ".\\scintillax.ico"


// BITMAPS



// TYPELIBS

1                                      TYPELIB    TLB

// MENUS
// Microsoft Visual C++ generated resource script.
//
#include "include/resource.h"
#include "windows.h"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//


IDD_DIALOG_PROP DIALOGEX 0, 0, 322, 110
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "EOL",IDC_STATIC,7,7,50,46
    GROUPBOX        "Tab",IDC_STATIC,7,53,306,49
    CONTROL         "UNIX",IDC_RADIO_UNIX,"Button",BS_AUTORADIOBUTTON,15,18,30,13
    CONTROL         "Win32",IDC_RADIO_WIN32,"Button",BS_AUTORADIOBUTTON,15,33,36,13
    GROUPBOX        "Encoding",IDC_STATIC,61,7,182,46
    COMBOBOX        IDC_COMBO_ENCODING,80,25,153,66,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_TABWIDTH,134,64,27,13,ES_AUTOHSCROLL
    LTEXT           "TabWidth",IDC_STATIC,100,66,30,15
    CONTROL         "Use Tabs",IDC_CHECK_USETABS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,65,48,11
    CONTROL         "Backspace Unindents",IDC_CHECK_BACKSPACEUNINDENTS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,214,77,85,18
    CONTROL         "Tab Indents",IDC_CHECK_TABINDENTS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,80,51,12
    PUSHBUTTON      "ConvertTabs",IDC_CONVERT_BUTTON,110,79,53,14
    GROUPBOX        "BOM",IDC_STATIC,249,7,62,46
    CONTROL         "Write BOM",IDC_CHECK_WRITEBOM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,256,26,46,9
    CONTROL         "Line Numbers",IDC_CHECK_LINE_NUMBERS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,214,65,55,11
END

IDD_DIALOG_ENC DIALOGEX 0, 0, 316, 142
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Encoding"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,259,121,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,207,121,50,14
    LISTBOX         IDC_LIST_ENCODING,7,22,302,89, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP,WS_EX_LEFTSCROLLBAR
    LTEXT           "Choose Encoding",IDC_STATIC,7,7,256,14
END