<mol:codegen class="ScintillAxGUIBuilder" 
               xmlns="urn:mol-codegen" 
               xmlns:mol="urn:mol-codegen" 
               xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			   xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
			   xsi:schemaLocation='urn:mol-codegen resource.xsd'>

  <!-- menu definitions (OWNERDRAWN with bitmap etc) -->

  <menus >
   
<!-- 
    <menu  id="IDM_MOE"  bmp="IDB_TOOLBAR" >
      <menu  cmd="IDM_FILE">
        <menu cmd="IDM_FILE_NEW" />
        <menu cmd="IDM_FILE_OPEN" />
        <menu cmd="IDM_FILE_OPEN_FOLDER"/>
        <menu separator="true"  />
        <menu cmd="IDM_FILE_SAVE" />
        <menu cmd="IDM_FILE_SAVE_AS" />
        <menu separator="true"  />
        <menu cmd="IDM_FILE_PRINT" />
        <menu cmd="IDM_MODE_PREFERENCES" />
        <menu separator="true"  />
        <menu cmd="IDM_FILE_EXIT" />
      </menu>
-->

  </menus>

</mol:codegen>

